---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import PracticeAreas from '../components/PracticeAreas.astro';
import WhyChoose from '../components/WhyChoose.astro';
import ResultsHome from '../components/ResultsHome.astro';
import About from '../components/About.astro';
import HelpingIdaho from '../components/HelpingIdaho.astro';
import Testimonials from '../components/Testimonials.astro';
import ContactHome from '../components/ContactHome.astro';

const title = "Williams Law | Criminal Defense & Family Law Attorney | Eagle, Idaho";
const description = "Former prosecutor with 24+ years experience. Criminal defense, family law, civil litigation in Eagle, Meridian & Boise. $400K verdict. Free consultation: (208) 271-5469";
---

<Layout title={title} description={description}>
  <main>
    <Hero />
    <Problem />
    <PracticeAreas />
    <WhyChoose />
    <ResultsHome />
    <HelpingIdaho />
    <About />
    <Testimonials />
    <ContactHome />
  </main>
</Layout>
